{% extends 'base.html' %}
{% load staticfiles %}
{% block extra-styles %}
<link rel="stylesheet" href="{% static 'css/student.css' %}">
<link rel="stylesheet" href="{% static 'css/createReport.css' %}">
{% endblock extra-styles %}
{% load widget_tweaks %}
{% block content %}

<div class="createReport-block">
    <form class="createReport" method="POST" action="/send_report/">
        {% csrf_token %}
        <div class="auth-header">ВХОД В АККАУНТ</div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Oh no!</strong> Something terrible happened!
        </div>
        <div>
            <label class="col-form-label field-label" for="report-title">Название: </label>
            <input type="text" id="report-title" name="title">
        </div>

        <div>
            <input type="file" name="file">
        </div>

        <div class="btn-auth_block">
            <input class="btn btn-outline-success btn-squared btn-auth" type="submit" value="Войти">
        </div>
    </form>
</div>
<div class="content">
    <div class="content-header">
        <h4>{{ first_name }} {{ last_name }}</h4>
        <input class="btn btn-outline-dark btn-squared btn-edit" type="button" value="Создать отчёт">
    </div>

    <main class="main">
        <div class="profile-info">
            <div class="avatar">
                <div class="img-block">
                    <img src="https://pp.userapi.com/c846218/v846218552/1ab6a7/W9IlH75B20c.jpg" alt="avatar">
                </div>
                <div class="description">
                    <ul class="description-list">
                        <li class="description-item">
                            <div class="desc-title">Средний балл:</div>{{ mark }}
                        </li>
                        <li class="description-item">
                            <div class="desc-title">Группа:</div>{{ group }}
                        </li>
                        <li class="description-item">
                            <div class="desc-title">Пол:</div>{{ sex }}
                        </li>
                        <li class="description-item">
                            <div class="desc-title">Моб. телефон:</div>{{ phone }}
                        </li>
                        <li class="description-item">
                            <div class="desc-title">Почта:</div>{{ email }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="skills">
                <div class="skills-header">УМЕНИЯ</div>
                <ul class="skills-list">
                    {% for skill in skills %}
                    <li class="skills-item">
                        <div class="skill-title"><img src="{{ skill.logo.url }}" alt="skill logo"
                                class="skill-logo"></img>{{ skill.name }}</div>{{ skill.option }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="career">
            <div class="career-header">КАРЬЕРА</div>
            <ul class="career-list">
                {% for company in career %}
                <li class="career-item"><img src="{{ company.logo.url }}" alt="company logo"
                        class="company-logo"></img>{{ company.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="achivments">
            <div class="achivments-header">ДОСТИЖЕНИЯ</div>
            <ul class="achivments-list">
                {% for achivement in achievements %}
                <li class="achivments-item">
                    <ul class="ach-list">
                        <li class="ach-item"><span class="ach-title">Название:</span>{{ achivement.name }}</li>
                        <li class="ach-item"><span class="ach-title">Описание:</span>{{ achivement.text }}</li>
                        <li class="ach-item"><span class="ach-title">Позиция:</span>{{ achivement.option }}</li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
</div>

{% endblock content%}