.auth-block {
    width: 44vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #2f2f2f;
    box-shadow: 3px 2px 8px 0px rgba(50, 50, 50, 0.75);
}

.auth-block.register {
    width: 50vw;
    min-width: 515px;
}

.auth-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
    font-size: 1.35rem;
    width: 100%;
    background-color: #49b396;
    color: #1f1f1f;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
}

form div {
    width: 100%;
}

.auth-form {
    width: 86%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0;
}

.field-label {
    color: #E9ECEF;
}

.btn-auth {
    padding-left: 35px;
    padding-right: 35px;
    color: #49b396;
    border-color: #49b396;
}

.btn-auth:hover {
    background-color: #49b396;
    border-color: #49b396;
    box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgb(41, 172, 164, .25);;
}

.btn-auth:active {
    background-color: #49b396;
    border-color: #49b396;
}
.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    background-color: #49b396;
    border-color: #49b396;
}

.btn-auth_block {
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(73, 179, 150,.5)!important;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    border-color: #49b396;
    box-shadow: 0 0 0 0.2rem rgba(73, 179, 150,.25);
}

.form-control:focus:hover {
    border-color: #49b396;
}


@media only screen and (max-width: 780px) {
    .auth-block {
        width: 344px;
    }
}

@media only screen and (max-width: 540px) {
    .auth-block.register {
        width: 100vw;
        min-width: auto;
    }
}