html {
    font-size: 15px;
}

.body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background: rgb(81,142,160);
    background: linear-gradient(to right, #f1f2b5, #135058);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}