.createReport-block {
    position: absolute;
    display: flex;
    
    flex-wrap: wrap;
    
}

.createReport {
    display: flex;
    flex-direction: column;
    margin: auto;
   
    justify-content: flex-start;
    align-items: center;
    background-color: #2f2f2f;
    box-shadow: 3px 2px 8px 0px rgba(50, 50, 50, 0.75);
}