.content {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    background-color: #f2f2f2;
    width: 75vw;
    min-height: 750px;
    box-shadow: -1px 0px 22px 0px rgba(50, 50, 50, 0.36);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-header {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header h4 {
    cursor: default;
}

.btn-edit {
    font-size: 1.1rem;
}

.main {
    width: 100%;
    padding: 0 10px;
}

.profile-info {
    display: flex;
}

.avatar {
    padding: 15px;
    box-shadow: 0 1px 10px 0 #d7d8db, 0 0 0 1px #d4d5d8;
    display: flex;
    padding-right: 20px;
    min-width: 548px;
}

.img-block {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.img-block img {
    object-fit: contain;
    width: 250px;
    border-radius: 100%;
    box-shadow: 0 1px 0px 0px rgba(50, 50, 50, 0.14);
}

.description-list {
    padding-left: 22px;
    margin-top: 8px;
    list-style-type: none;
}

.description-item {
    display: flex;
}

.desc-title {
    min-width: 130px;
    color: #747474;
}

.skills {
    box-shadow: 0 1px 10px 0 #d7d8db, 0 0 0 1px #d4d5d8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 15px;
    width: 100%;
    overflow: hidden;
}

.skills-header {
    box-shadow: 0 0px 6px 0 #343a40;
    cursor: default;
    display: flex;
    justify-content: center;
    background-color: #343a40;
    color: #f2f2f2;
    font-size: 1.1rem;
    padding: 4px 0;
}

.skills-list {
    margin-top: 12px;
    list-style-type: none;
    padding: 0 30px;
}

.skills-item {
    display: flex;
    justify-content: space-between;
    border-bottom: #d4d4d4 solid 1px;
}

.skill-title {
    color: #747474;
}

.skill-logo {
    width: 16px;
}

.achivments {
    box-shadow: 0 1px 10px 0 #d7d8db, 0 0 0 1px #d4d5d8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}

.achivments-header {
    cursor: default;
    display: flex;
    justify-content: center;
    background-color: #343a40;
    color: #f2f2f2;
    font-size: 1.1rem;
    padding: 4px 0;
    box-shadow: 0 0px 6px 0 #343a40;
}

.achivments-list {
    padding: 0 8px;
    padding-top: 4px;
}

.achivments-item {
    box-shadow: 0 1px 6px 0 #d7d8db, 0 0 0 1px #d4d5d8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
    width: 100%;
}

.ach-list {
    list-style-type: none;
    padding-left: 18px;
    padding-right: 18px;
}

.ach-item {
    height: auto;
    margin-top: 8px;
}

.ach-list:last-child {
    margin-bottom: 8px;
}

.ach-title {
    margin-right: 4px;
    cursor: default;
    background-color: #343a40;
    color: #f2f2f2;
    padding: 1px 3px;
    border-radius: 2px;
}

.company-logo {
    width: 30px;
}

.career {
    box-shadow: 0 1px 10px 0 #d7d8db, 0 0 0 1px #d4d5d8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}

.career-header {
    cursor: default;
    display: flex;
    justify-content: center;
    background-color: #343a40;
    color: #f2f2f2;
    font-size: 1.1rem;
    padding: 4px 0;
    box-shadow: 0 0px 6px 0 #343a40;
}

.career-list {
    list-style-type: none;
    padding-left: 25px;
    display: flex;
}

.career-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #d4d4d4;
    cursor: default;
}

.career-item img {
    margin-right: 2px;
}

@media only screen and (max-width: 1024px) {
    .content {
        width: 100vw;
    }
}

@media only screen and (max-width: 794px) {
    .skills-list {
        padding: 0 5px;
    }

    .img-block img {
        width: 175px;
    }

    .avatar {
        min-width: 462px;
    }
}

@media only screen and (max-width: 654px) {
    .profile-info {
        flex-direction: column;
    }

    .skills-list {
        padding: 0 15px;
    }

    .skills {
        margin-left: 0;
        margin-top: 20px;
    }

    .career-list {
        padding-left: 0;
    }
}

@media only screen and (max-width: 508px) {
    .avatar {
        flex-direction: column;
        align-items: center;
        min-width: 248px;
    }

    .content-header {
        flex-direction: column;
    }
}